.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cellStyle {
  width: 30px;
  height: 30px;
  background: lightgrey;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

#gameOverImage {
  opacity: 100;
  z-index: 4;
  height: 70%;
  max-width: 100%;
  margin: 0 50px;
  background: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png")
    0px 80px no-repeat;
  background-repeat: repeat-x;
  position: relative;
  padding-top: 20px;
}

.tryAgain {
  cursor: pointer;
  margin: 0 50px;
  border-radius: 7px;
  background: darkgreen;
  color: rgb(158, 255, 158);
  padding: 10px;
  font-weight: 700;
}

.blockCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  align-items: center;
}

.mt-5{
  margin-top: 1.5rem;
}

.px-5{
  padding-right: 11rem;
  padding-left: 11rem;
}
